{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar" style="justify-content: center;">
            <span>Criar Tasca!</span>
        </nav>
        <div class="container">
            <form action="addTasca" method="POST">{% csrf_token token %}
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="inputName" name="name" required>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="address" required>
                </div>
                <div class="form-group">
                    <label>Rating (0-10)</label>
                    <input type="number" min="0" max="10" class="form-control" id="inputRating" name="rating"  oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');" required>
                </div>
                <div class="form-group">
                    <label>Latitude</label>
                    <input type="number" step="any" class="form-control" id="inputLatitute" name="latitude"  required>
                </div>
                <div class="form-group">
                    <label>Longitude</label>
                    <input type="number" step="any" class="form-control" id="inputLongitude" name="longitude"  required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add Tasca</button>
                </div>     
            </form>        
            <form action="cancel" method="POST">{% csrf_token token %}
                <button type="submit" class="btn btn-danger" formnovalidate>Cancel</button>
            </form>
        </div>
    </body>
</html>