{% load static %}

<!DOCTYPE html>


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tascas</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="{% static 'bootstrap/css/addons/datatables.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/initial.css' %}">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    </head>

    <body>
        <nav class="navbar" style="justify-content: center;">
            <span>Detalhes da Tasca!</span>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Tasca Nº {{tasca.id}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name: {{tasca.nome}}</td>
                            </tr>
                            <tr>
                                <td>Address: {{tasca.address}}</td>
                            </tr>
                            <tr>
                                <td>Rating: {{tasca.rating}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <iframe src="https://maps.google.com/maps?q={{tasca.latitude}}, {{tasca.longitude}}&z=15&output=embed" width="360" height="270" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
            <button type="submit" class="btn btn-danger" onclick="location.href = '/';">Back</button>
        </div>
    </body>
</html>