{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar" style="justify-content: center;">
            <span>Editar Tasca!</span>
        </nav>
        <div class="container">
            <form action="updateTasca" method="POST">{% csrf_token token %}
                <label>Tasca Nº {{tasca.id}}</label>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" id="inputName" value={{tasca.nome}} placeholder={{tasca.nome}} name="name">
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" id="inputAddress" value={{tasca.address}} placeholder={{tasca.address}} name="address">
                </div>
                <div class="form-group">
                    <label>Rating (0-10)</label>
                    <input type="number" min="0" max="10" class="form-control" id="inputRating" oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');" value={{tasca.rating}}  placeholder={{tasca.rating}} name="rating">
                </div>
                <div class="form-group">
                    <label>Latitude</label>
                    <input type="number" step="any" class="form-control" id="inputLatitude"  value={{tasca.latitude}}  placeholder={{tasca.latitude}} name="latitude">
                </div>
                <div class="form-group">
                    <label>Longitude</label>
                    <input ype="number" step="any"  class="form-control" id="inputLongitude" value={{tasca.longitude}}  placeholder={{tasca.longitude}} name="longitude">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" name="editTasca" value={{tasca.id}}>Edit Tasca</button>
                </div>     
            </form>    
            <form action="cancel" method="POST">{% csrf_token token %}
                <button type="submit" class="btn btn-danger" formnovalidate>Cancel</button>
            </form>
        </div>
    </body>
</html>