{% load static %}

<!DOCTYPE html>


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tascas</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    </head>

    <body>
        <nav class="navbar" style="justify-content: center;">
            <span>Tascas!</span>
           
        </nav>
        <div class="container">
            <div class="row">
                <input  class="form-control opt bg-light mb-2 mt-2 col-12 col-sm-12 col-md-12" id="myInput" type="text" placeholder="Search by name or address...">
            </div>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <td scope="col">Name</td>
                        <td scope="col">Address</td>
                        <td scope="col">Rating</td>
                        <td scope="col">Actions</td>
                        <td scope="col"></td>
                    </tr>
                </thead>
                <tbody id="myList">
                    {% for tasca in tascas%}
                        <tr class="lista-tascas" id="infor">
                            <td><a href="{% url 'detailsTasca' tasca.id %}" name ="tasca">{{tasca.nome}}</a></td>
                            <td>{{tasca.address}}</td>
                            <td>{{tasca.rating}}</td>
                            <td scope="col">
                                <form action="editTasca" method="POST">{% csrf_token token %}
                                    <button class="btn btn-primary my-2 my-sm-0" type="submit" name="editTasca" value={{tasca.id}}>Edit</button>
                                </form>  
                            </td>
                            <td scope="col">
                                <form action="deleteTasca" method="POST">{% csrf_token token %}
                                    <button class="btn btn-danger my-2 my-sm-0" type="submit" name ="deleteTasca" value={{tasca.id}}>Delete</button>
                                </form>  
                            </td>
                            </a>
                        </tr>  
                    {% endfor %}
                </tbody>
            </table>
            <div class="row mt-5">
                <div class="col-md-1">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Refresh</button>
                </div>
            <div class="col-md-1">
                <form action="createTasca" method="POST">
                    {% csrf_token token %}
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Create</button>
                </form>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $("#myInput").on("keyup", function() {
                    var filter, i=0;
                    filter = $(this).val().toLowerCase();
                    var list = document.getElementById("myList");

                    $.each($('#myList #infor'), function() {
                        var element = this;
                        var nome = element.getElementsByTagName("td")[0];
                        var address = element.getElementsByTagName("td")[1];
                        nome = nome.textContent || nome.innerText;
                        address = address.textContent || address.innerText;
                        var div = list.getElementsByClassName("lista-tascas")[i];
                        if (nome.toLowerCase().indexOf(filter) > -1 || address.toLowerCase().indexOf(filter)> -1) {
                            div.style.display = "";
                        }
                        else{
                            div.style.display = "none";
                        }
                        i++;
                    });
                });
            });
        </script>
    </body>
</html>